.dotted{border: 5px dotted red;;}
.dashed{border: 5px dashed blue;}
.solid{border: 5px solid green; }
.margin{margin: 10px;}
.radius{border-radius: 10px;}
.shadow{box-shadow: 5px 5px gray;}
.padding{padding: 10px;}
.width{width: 200px;}
.display_inline{display: inline;}
.display_block{display: block;}

#div_1{
    background-color: chocolate;
    border: 2px solid green;
    display: inline;
    position: relative;
    top: 100px;
    left: 100px;
}
#div_2{
    background-color: chocolate;
    border: 2px solid green;
    display: inline;
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: -1;
}

#contato{
    background-color: greenyellow;
    position: fixed;
    bottom: 0px;
    left: 0px;
}
#contato:hover{
    background-color: aqua;
}