#Baka{
    color: blueviolet;
    border: dotted 7px aqua;
    position: relative;
    top: 100px;
    left: 250px;
}
#Baka:hover{
    background-color: aqua;
}
.Miku:hover{
    background-color: aquamarine;
}
.Miku{
    color: blue;
    font-size: 20pt;
    border: dotted 7px aqua;
    position: relative;
    top: 100px;
    left: 250px;
    display: inline;
}
.Teto{
    color: red;
    border: solid pink 7px;
    position: relative;
    top: 100px;
    left: 250px;
}
.Teto:hover{
    background-color: red;
    color: brown;
    
}
.Yellow{
    position: relative;
    top: 100px;
    left: 250px;
}
.Yellow:hover{
    color: yellowgreen;
    background-color: yellow;
    border: dashed 5px yellowgreen;
}